!!!5
%html{lang:"en"}
	%head
		%meta{charset:"UTF-8"}
		%title Colony Idle
		%link{
			href:"style.css",
			rel:"stylesheet"
			}
		%script{src:"script.js"}
	%body
		%table
			%tr#resources
			%tr#main