body {
	font: 20pt Verdana;

	#resources {
		display: flex;
		justify-content: space-evenly;

		* {
			text-align: center;
		}
	}

	#main {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}