body {
	font: 20pt Verdana;
	vr {
		border-left: 1px solid gray;
		height: 50px;
		margin: 0 10px;
	}

	#resources {
		display: flex;
		justify-content: space-evenly;

		* {
			text-align: center;
		}
	}

	#main {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}
