@mixin tableStyle {
	border: 0.1em solid;
}

body {
	font-size: 20pt;
	font-family: Verdana;
	margin: 0;
	padding: 0;

	table {
		@include tableStyle;
		width: 100%;

		* {
			@include tableStyle;
		}

		#main {
			@include tableStyle;
			height: 100%;
		}
	}
}